body {
  font-family: 'Arial', sans-serif;
  background-color: #5f486a;
  color: #3bcca1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  background-color: #577138;
  border: 2px solid #5a4040;
  font-size: 3rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background-color: #555;
}

#statusText {
  margin-top: 20px;
  font-size: 1.2rem;
}

#restartBtn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1f8948;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

#restartBtn:hover {
  background-color: #2374a6;
}
