/* src/global.css */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.header {
  background-color: var(--header-bg);
}

.button-primary {
  background-color: var(--primary-color);
  color: rgb(167, 152, 152);
}

.button-secondary {
  background-color: var(--secondary-color);
  color: rgb(223, 212, 212);
}