/* src/themes.css */
:root {
  --primary-color: #b65fe9;
  --secondary-color: #56a737;
  --background-color: #ffffff;
  --text-color: #0e0c0c;
  --header-bg: #f8f9fa;
}

[data-theme="dark"] {
  --primary-color: #2980b9;
  --secondary-color: #27ae60;
  --background-color: #222222;
  --text-color: #f8f9fa;
  --header-bg: #343a40;
}

[data-theme="night"] {
  --primary-color: #9b59b6;
  --secondary-color: #c49436;
  --background-color: #1a1a1a;
  --text-color: #e0e0e0;
  --header-bg: #2c3e50;
}